# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env
.env.local
backend/.env
# Node
node_modules/
build/
dist/
.next/

# IDEs
.vscode/
.idea/
*.swp
*.swo